version: "3"
services:
  # MongoDB
  mongo:
    container_name: "mongodb"
    image: mongo:latest
    restart: always
    environment:
      MONGO_PORT: ${MONGO_PORT}
      MONGO_DB: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}

    networks:
      - network1
    ports:
      - "${MONGO_PORT}:27017"

  # Node.js Application
  matching_service_api:
    depends_on:
      - mongo
    image: matching_service
    build: ./api
    restart: always
    environment:
      MONGO_HOST: "mongo" #name of service
      MONGO_PORT: ${MONGO_PORT}
      MONGO_DB: ${MONGO_DB}
      MONGO_USER: ${MONGO_USER}
      MONGO_PASS: ${MONGO_PASS}
      QUEUE_EXPIRY: ${QUEUE_EXPIRY}
      PRE_SHARED_KEY: ${PRE_SHARED_KEY}
      EXPRESS_PORT: ${EXPRESS_PORT}

    networks:
      - network1
    ports:
      - "${EXPRESS_PORT}:3000"

networks:
  network1:
    name: peerprep
